*{
  color: white;
  margin: 0;  
  font-family: Karla;
  
line-height: 24px;
letter-spacing: -0.1em;
text-align: left;
}

.nav-bar{
  display: flex;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  color: white;
}

.logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h2{  
  font-size: 30px;
  
font-weight: 700;
}

.react-course p{
  font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 15px;
}

main{
  padding: 20px;
  
}

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form--input{
  color: black;
  border-radius: 5px;
  border: 1px solid #d6ceda;
  text-indent: 5px;
  font-size: 22px;
}

.form--button{
  grid-column: 1/ -1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background:  linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.img-container{
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 30px;
}

.topText{
  position: absolute;
  top: 30px;
}

.bottomText{
  position: absolute;
  bottom: 30px;
}